                                                                                     
HOST=127.0.0.1
PORT=3000
PROXY_PORT=3001

                                                                            
                                                                                
              
                                       
                                          

                                                                           
                                                                               
                        
                   
                          

                                                                         
                                                                             
WISP_BACKUPS_JSON=[]
                                            
                                                                                   

WISP_ALLOWED_PORTS=80,443,8080,8443
WISP_MAX_CONNECTIONS=64
WISP_MAX_CONNECTIONS_PER_IP=16

                                                                            
                                                                               
                                                            
                                    
